.header-padding{
	padding-top: 5%;
	/*text-align: center;*/
}
/*CV Table*/
.cv-above{
	width:100%;
	margin-bottom: 0;
}
.cv-below{
	width:100%;
	margin-bottom: 0;
	

}
.cv-container{
	width:100%;
}

.tname{
	width:2	0rem;
	text-align: center;
	//vertical-align: bottom;
	padding: 0 auto;
}
.cv-header{
	padding-top: 1em;
	padding-left:0.5em;
}
.bottom-border{
	border-width: 1px;
	border-bottom-style: solid;
	border-color: #8C8C8C;
}
.tinfo{
	padding-left: 1%;
	/*width:40%;*/
/*	border-width: 1px;
	border-left-style: solid;
	border-color: #8C8C8C;*/
}
.bold{
font-weight: bold;
}
.cv-first-column{
	width:20%;
	padding-left: 0.5em;
	vertical-align: top;
}
.cv-second-column{
	/*width:80%;*/
	padding-left: 0.5em;
	border-width: 1px;
	border-left-style: solid;
	border-color: #8C8C8C;
}
.date{
	text-decoration: italic;
	color: #8C8C8C;
}
td h1{
	margin-bottom: 0;
}
td h4{
	margin-bottom: 0;
}

body{
	background-color: #F2F2F2;
}
.container{
	background-color: #fff;
}
.equal-margins{
	display:block;
	margin:3px 5px;
}
.circular {
	/*margin: 0 auto;*/
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	/*background: url(http://www.gravatar.com/avatar/461057a50ef7860763e4e05f06115433.jpg) no-repeat;*/
/*	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);*/
}
.navbar {
  display: none;
  margin-bottom: 5px;
}
.arrow {
	background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEwMCAxMDAiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48cG9seWdvbiBmaWxsPSIjMDEwMTAxIiBwb2ludHM9IjIzLjEsMzQuMSA1MS41LDYxLjcgODAsMzQuMSA4MS41LDM1IDUxLjUsNjQuMSAyMS41LDM1IDIzLjEsMzQuMSAiLz48L3N2Zz4=');
}
.small_text{
	text-decoration: italic;
	font-size: small;
}
.more {
	padding-top: 2px;
	box-sizing: border-box;
	max-height: 800px;
	-webkit-transition: max-height 0.8s;
	transition: max-height 0.8s;
	overflow: hidden;
}
.hidden {
	max-height: 1px;
}

.center{
	width:100%;
	text-align: center;
}

.icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin-left: 10px;
}
a{
	text-decoration: none;
}
/*.icon--mail{
	width: 16px;
	height: 11px;
}*/

.box {
	float:left;
	cursor:pointer;
	margin: 0px 5px;
	padding: 0 0%;
}

/* Navbar */
.navbar{
	display: block;
	width: 100%;
	height: 6.5rem;
	background: #fff;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee; }
.navbar > .container {
	width: 100%; }
.navbar-list {
	list-style: none;
	margin-bottom: 0; }
.navbar-item {
	position: relative;
	float: left;
	margin-bottom: 0; 
	cursor:pointer;
}
.navbar-link {
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 600;
	letter-spacing: .2rem;
	margin-right: 17px;
	margin-left: 17px;
	text-decoration: none;
	line-height: 6.5rem;
	color: #222; }
.navbar-link.active {
	color: #33C3F0; }

@media (min-width: 400px) {
	.navbar-list{
		padding-left: 12%
	}
	.box{
		padding: 0 12% 0 5%;
	}
	.box:hover{
		background-color:#FEFFED;
	}
	.cv-below{
		width:80%;
		display:block;
		margin:0 auto;
	}
}

.navbar li:before {
	content: "/";
}

.navbar li:first-child:before {
	content: none;
}